/* Regular Weight */
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto/Roboto-Regular.ttf");
}

/* SemiBold (600) Weight */
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto/Roboto-Medium.ttf");
  font-weight: 600;
}

html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
