.featured {
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 648px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;

  box-shadow: inset 0px 0px 100px 50px #1d1d1d;
}
.tag {
  color: var(--primary-teal);
  padding: 4px 8px;
  background-color: #1d1d1d88;
  display: inline-block;
  border-radius: 0px 8px 0px 8px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 632px;
}

.header .title {
  color: #fff;
  font-size: 56px;
  font-weight: 600;
}
.header .lead {
  color: #fff;
  font-size: 16px;
  display: block;
}

.header .button {
  border: solid 0.5px rgba(255, 255, 245, 0.25);
  background: #000;
  background-clip: padding-box;
  border-radius: 40px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  padding: 16px;
  width: 200px;
  position: relative;
}
